@page "/nav"
@inject GlobalState GlobalState

<AuthorizeView>
    <Authorized>
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">
                    Hi,
                    <span class="text-light">@context.User.Identity?.Name</span>
                </a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <div class="@NavMenuCssClass nav-scrollable">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" href="/home/dashboard" Match="NavLinkMatch.All">
                        <div class="hstack gap-1">
                            <span class="bi bi-house-door-fill-nav-menu fs-3 text-center" aria-hidden="true"></span>
                            <span>Home</span>
                        </div>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" href="counter">
                        <div class="hstack gap-1">
                            <span class="bi bi-plus-square-fill-nav-menu fs-3 text-center" aria-hidden="true"></span>
                            <span>Counter</span>
                        </div>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" @onclick="ShowAdminMenuContainer">
                        <div class="hstack gap-1">
                            <span class="bi bi-person-fill fs-3 text-center" aria-hidden="true"
                                  style="margin-top: -2rem;">
                            </span>
                            <span>Administration</span>
                        </div>
                    </NavLink>
                    <a class="nav-link p-2 text-white" style="margin-left: 1rem; visibility: @_cssStyle;">
                        <div class="hstack">
                            <span class="bi bi-people fs-5 text-center" aria-hidden="true"
                                  style="margin-top: -2rem;">
                            </span>
                            <span>Users</span>
                        </div>
                    </a>
                </div>
                <div class="nav-item px-3" style="margin-top: @DepartmentMargin;">
                    <NavLink class="nav-link p-2" href="/general" Match="NavLinkMatch.Prefix"
                             @onclick="ShowDepartmentMenuContainer" style="cursor: pointer;">
                        <div class="hstack gap-1">
                            <span class="bi bi-backpack4-fill fs-3 text-center" aria-hidden="true"
                                  style="margin-top: -2rem;">
                            </span>
                            <span>Department</span>
                        </div>
                    </NavLink>
                    <div class="nav-link p-2 text-white" style="margin-left: 1rem; visibility: @_departmentCssStyle;">
                        <ul class="list-group">
                            <li style="list-style: none;" class="cursorStyle">
                                <NavLink class="nav-link p-2" href="/general" Match="NavLinkMatch.All">
                                    <div class="hstack text-wrap">
                                        <span class="bi bi-file-medical fs-5 text-center" aria-hidden="true"
                                              style="margin-top: -2rem;">
                                        </span>
                                        <span class="fs-6">General</span>
                                    </div>
                                </NavLink>
                            </li>
                            <li style="list-style: none;" class="cursorStyle">
                                <NavLink class="nav-link p-2" href="/general/department" Match="NavLinkMatch.All">
                                    <div class="hstack">
                                        <span class="bi bi-substack fs-5 text-center" aria-hidden="true"
                                              style="margin-top: -2rem;">
                                        </span>
                                        <span class="fs-6">Department</span>
                                    </div>
                                </NavLink>
                            </li>
                            <li style="list-style: none;" class="cursorStyle">
                                <NavLink class="nav-link p-2" href="/general/branch" Match="NavLinkMatch.All">
                                    <div class="hstack">
                                        <span class="bi bi-chevron-bar-contract fs-5 text-center" aria-hidden="true"
                                              style="margin-top: -2rem;">
                                        </span>
                                        <span class="fs-6">Branch</span>
                                    </div>
                                </NavLink>
                            </li>
                            <li style="list-style: none">
                                <hr />
                            </li>
                            <li style="list-style: none">
                                <NavLink class="nav-link p-2" href="/general/country" Match="NavLinkMatch.All">
                                    <div class="hstack">
                                        <span class="bi bi-geo fs-5 text-center" aria-hidden="true"
                                              style="margin-top: -2rem;">
                                        </span>
                                        <span class="fs-6">Country</span>
                                    </div>
                                </NavLink>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </Authorized>
</AuthorizeView>

<style>
    .cursorStyle {
        cursor: pointer;
    }
</style>

@code {
    private bool _collapseNavMenu = false;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    private string DepartmentMargin { get; set; } = "-3.5rem";
    private string _cssStyle = "hidden";
    private bool ShowHide { get; set; } = false;

    private void ShowAdminMenuContainer()
    {
        ShowHide = !ShowHide;
        if (ShowHide)
        {
            DepartmentMargin = "0";
            _cssStyle = "visible";
        }
        else
        {
            DepartmentMargin = "-3.5rem";
            _cssStyle = "hidden";
        }
    }

    private string _departmentCssStyle = "hidden";
    private bool ShowHideDepartment { get; set; } = false;

    private void ShowDepartmentMenuContainer()
    {
        ShowHideDepartment = !ShowHideDepartment;
        _departmentCssStyle = ShowHideDepartment ? "visible" : "hidden";
    }

    private void GeneralDepartmentClicked()
    {
        GlobalState.GeneralDepartmentClicked();
    }

}